@{
    Layout = "";
}
@model Nop.Plugin.Payments.MonetaAssist.Models.ConfigurationModel
@using Nop.Web.Framework;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="adminContent">
        <tr>
            <td colspan="2">
                <b>If you're using this gateway ensure that your primary store currency is supported by Moneta.ru</b>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Instructions on setting up a account in the payment system see the link
                <a href="https://moneta.ru/doc/MONETA.Assistant.ru.pdf" rel="MONETA.Assistant">MONETA.Assistant</a>
                <b>on page eight</b>.
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <b>
                    Definitely need the Pay URL field to specify the address http://www.yourStore.com/Plugins/MonetaAssist/ConfirmPay.
                    <br />
                    HTTP Method field should be GET.
                    <br/>
                    The settings "you can override the settings in the URL" should be YES
                </b>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr/>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.MntIdOverrideForStore, model => model.MntId, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.MntId):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.MntId)
                @Html.ValidationMessageFor(model => model.MntId)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.MntTestModeOverrideForStore, model => model.MntTestMode, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.MntTestMode):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.MntTestMode)
                @Html.ValidationMessageFor(model => model.MntTestMode)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.HashcodeOverrideForStore, model => model.Hashcode, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.Hashcode):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Hashcode)
                @Html.ValidationMessageFor(model => model.Hashcode)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.AdditionalFeeOverrideForStore, model => model.AdditionalFee, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.AdditionalFee):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AdditionalFee)
                @Html.ValidationMessageFor(model => model.AdditionalFee)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.AdditionalFeePercentageOverrideForStore, model => model.AdditionalFeePercentage, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.AdditionalFeePercentage):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AdditionalFeePercentage)
                @Html.ValidationMessageFor(model => model.AdditionalFeePercentage)
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            </td>
        </tr>
    </table>
    
}